{% extends "package/search.html" %}
{% import 'macros/form.html' as form %}

{% block subtitle %}{{ _("Showcases") }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{{ h.nav_link(_('Showcases'), controller='ckanext.sixodp_showcase.controller:Sixodp_ShowcaseController', action='search', highlight_actions = 'new index') }}</li>
{% endblock %}


{% block pre_primary %}
  {% block page_primary_action %}
  <div class="d-flex justify-content-between align-items-center flex-wrap mb-3">
    <h1 class="mb-0">
      {% trans %}
        Applications
      {% endtrans %}
    </h1>

    {% if h.check_access('ckanext_showcase_create') %}
      <div>
        <div class="btn-group d-flex align-items-center flex-wrap">
          {% link_for _('Add Showcase'), controller='ckanext.sixodp_showcase.controller:Sixodp_ShowcaseController', action='new', class_='btn btn-avoindata-header pr-0', icon='plus-sign' %}
        </div>
      </div>
    {% endif %}
  </div>
  {% endblock %}
{% endblock %}


{% block primary_content %}
  <section class="module">
    <div class="module-content">
      {{ h.snippet('sixodp_showcase/snippets/showcase_greeting.html') }}
      {% block form %}
        <div class="search-form-container search-form-container-borderless">
          {{ h.snippet('sixodp_showcase/snippets/showcase_search_input.html', query=c.q, placeholder=_('Search applications...'), query_params=c.fields_grouped, sorting=c.sort_by_selected) }}
        </div>
      {% endblock %}

      {% block package_search_results_list %}
        {{ h.snippet('sixodp_showcase/snippets/showcase_list.html', packages=c.page.items) }}
      {% endblock %}
    </div>

    {% block page_pagination %}
      {{ super() }}
    {% endblock %}
  </section>
{% endblock %}

{% block package_search_results_api %}
{% endblock %}

{% block secondary_content %}
  <div class="secondary__header">
    <h3 class="secondary__title">{{ _('Filter list') }}</h3>
  </div>
  {% for facet in c.facet_titles %}
    {{ h.snippet('snippets/facet_list.html', title=c.facet_titles[facet], name=facet) }}
  {% endfor %}
{% endblock %}
